.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E0E1DD;
    justify-content: center;
    padding-top: 2rem;
}

.title {
    margin-bottom: 2rem;
}
.main-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex: 1
}

.image-content {
    img {
        max-width: 40vw;
        border-radius: 24px;
    }
}

.word-content {
    border: 1px solid #0D1B2A;
    padding: .5rem;
    border-radius: 24px;
    max-width: 40vw;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .image-content img {
        max-width: 80vw;
        margin-bottom: 1rem;
    }

    .word-content {
        max-width: 80vw;
        margin-bottom: 1rem;
    }
}

@media (min-width: 1024px) {
    .image-content img {
        max-width: 428px;
    }
}